.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App p {
  letter-spacing: 1em;
}
.board {
  background: #ddd;
  border: 1px solid #ddd;
  display: grid;
  height: 600px;
  margin: 100px auto 0;
  grid-gap: 1px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  width: 600px;
}
.tile {
  align-items: center;
  background: #fff;
  cursor: pointer;
  display: flex;
  justify-content: center;
  position: relative;
}
.tile.blank {
  background: #f3f3f3;
  cursor: default;
}
.tile .order {
  color: #fff;
  left: 2px;
  position: absolute;
  top: 2px;
}
